<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="./static/img/favicon.ico">

    <title>CAC-Movies</title>
</head>

<body class="bodyRegister">
    <header class="headerRegister">
        <a class="logo" href="../index.html">
            <i class="fas fa-film" aria-hidden="true"></i>
            <span>CAC - Movies</span>
        </a>
    </header>

    </header>
    <main class="mainDetalle">
        <section class="detalle">
            <div class="detalleContainer" id="detalleContainer">
            </div>
        </section>
        
    </main>

    <script src="../static/js/detalle.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/api.js"></script>


</body>

</html>