<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="./static/img/favicon.ico">
    <title>CAC-Movies</title>
</head>

<body class="bodyRegister">
    <header class="headerRegister">
        <a class="logo" href="../index.html">
            <i class="fas fa-film" aria-hidden="true"></i>
            <span>CAC - Movies</span>
        </a>
    </header>

    <main class="mainRegister">
        <section class="seccionRegister">
            <form class="formulario" action="#" method="get">
                <h2 class="tituloRegister">Iniciar Sesión</h2>
                <div>
                    <input type="email" placeholder="Email" class="email" name="email">
                    <span id="errorEmail" class="error"></span>
                </div>
                <div>
                    <input type="password" placeholder="Contraseña" class="password" name="password">
                    <span id="errorPassword" class="error"></span>
                </div>
                <div>
                    <input class="boton" type="submit" value="Iniciar Sesión">
                </div>
                <div>
                    <a class="ayuda" class="ayuda" href="./register.html">Registrarse</a>
                </div>
            </form>
        </section>

    </main>
    <script src="../static/js/registro.js"></script>
</body>

</html>